{% extends 'base.html.twig' %}

{% block header %}
    <header>
        <menu>
            <ul>
                {% if app.user %}
                    <li class="login">
                        You are logged in as {{ app.user.username }}
                        <a href="{{ path('app_logout') }}">logout</a>
                    </li>
                {% else %}
                    <li class="login" data-toggle="modal" data-target="#loginModal"
                    ><a href="{{ path('app_login') }}">login</a></li>
                {% endif %}
            </ul>
        </menu>
    </header>
{% endblock %}
